In [1]:
import pandas as pd

In [17]:
mars_properties = pd.read_csv("mars_properties.csv")

In [18]:
mars_properties.head()

   Unnamed: 0                    Facts             Mars            Earth
0           0  Mars - Earth Comparison             Mars            Earth
1           1                Diameter:         6,779 km        12,742 km
2           2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
3           3                   Moons:                2                1
4           4       Distance from Sun:   227,943,824 km   149,598,262 km

In [19]:
mars_properties = mars_properties.drop("Unnamed: 0",axis=1)

In [20]:
mars_properties.head()

                     Facts             Mars            Earth
0  Mars - Earth Comparison             Mars            Earth
1                Diameter:         6,779 km        12,742 km
2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
3                   Moons:                2                1
4       Distance from Sun:   227,943,824 km   149,598,262 km

In [21]:
mars_properties.set_index('Facts', inplace=True)

In [22]:
mars_properties.head()

                                    Mars            Earth
Facts
Mars - Earth Comparison             Mars            Earth
Diameter:                       6,779 km        12,742 km
Mass:                    6.39 × 10^23 kg  5.97 × 10^24 kg
Moons:                                 2                1
Distance from Sun:        227,943,824 km   149,598,262 km

In [23]:
mars_properties.to_html("mars_properties.html")